.adventureSheet {
  marginleft: "20%";
  marginright: "20%";
  justifycontent: "center";
  alignitems: "center";
}

.submitContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}