# Section Responsibles (from, to, who)
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s001_036/ @Lion-alt
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s037_072/ @Desi7
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s073_108/ @kimberlymo
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s109_144/ @adrsch04
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s145_180/ @miolmi
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s181_216/ @Rwael
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s217_252/ @MagischerWolf05
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s253_288/ @elion004
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s289_324/ @tamer545
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s325_360/ @stevan04
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s361_396/ @dbabvwid
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s397_432/ @lucasmillanm
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s433_468/ @corsin-lehre
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s469_504/ @Nilstrieb
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s505_540/ @Noeell
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s541_576/ @nnikolajj
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s577_612/ @JJoeeyy
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s613_648/ @Oliver-was-taken
fabbwled-backend/src/main/java/ch/bbw/fabbwled/lands/book/book1/s649_680/ @kaibria

.github/workflows/ @dbabvwid
fabbwled-frontend/ @corsin-lehre
fabbwled-backend/  @Nilstrieb
