# Section Responsibles (from, to, who)
# 1   36  @Lion-alt
# 37  72  @Desi7
# 73  108 @kimberlymo
# 109 144 @adrsch04
# 145 180 @miolmi
# 181 216 @Rwael
# 217 252 @MagischerWolf05
# 253 288 @elion004
# 289 324 @tamer545
# 325 360 @stevan04
# 361 396 @dbabvwid
# 397 432 @lucasmillanm
# 433 468 @corsin-lehre
# 469 504 @Nilstrieb
# 505 540 @Noeelll
# 541 576 @nnikolajj
# 577 612 @JJoeey
# 613 648 @Oliver-was-taken
# 649 680 @kaibria

.github/workflows/ @dbabvwid
fabbwled-frontend/ @corsin-lehre
fabbwled-backend/  @Nilstrieb
