.character-card {
  display: flex;
  flex-direction: column;
  background-color: #e0c29d;
  color: #5c4f47;
  border: 2px solid #5c4f47;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  width: 25%;
  min-width: 400px;
  text-align: left;
  transition: transform 0.3s;
  font-size: 0.75rem;
  cursor: default;

  &:hover {
    background-color: darken(#e0c29d, 10%);
    transform: scale(1.01);
  }
}

.character-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: #5c4f47 dashed 1px;
}

.character-image {
  text-align: right;
  display: inline-block;
}

.character-image img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid #5c4f47;
  border-radius: 50%;
}

.character-name {
  font-size: 18px;
  font-weight: bold;
}

.character-info {
  padding: 20px;
  margin-top: 10px;
}

.attribute {
  margin: 5px 0;
}

.description {
  margin-top: 10px;
  font-style: italic;
  height: 100px;
  overflow-y: scroll;
}

.character-select-button {
  all: unset;
  width: 100%;
  text-transform: uppercase;
  color: #5c4f47;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;

  &:hover {
    font-weight: bolder;
    font-size: 0.9rem;
  }
}
